body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  -webkit-user-select: none;
}

html, body {
  min-height: 100%;
}

body {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3F51B5, #E8EAF6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3F51B5, #E8EAF6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.photo-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  background-image: url("./img/background.jpg");
}

/* class for drag'n'drop style */
.drag-item > div {
  box-shadow: 0 0 10px 2px #9E9E9E;
}
.drag-item > div > div.js-content {
  box-shadow: 0 0 20px 9px #9E9E9E;
  margin: 0 3px 0 !important;
  border: 1px solid #ffffff;
  /*border-radius: 7px !important;*/
}
.swipe-to-delete .js-content, .swipe-to-delete .js-delete {
  border-radius: 7px;
  margin: 1px 5px;
}
.js-content > li {
  border-radius: 6px;
  background: #ffffff;
}

div.logo {
  background-image: url("./img/todo_icon.svg");
  background-size: cover;
  width: 65%;
  height: 50px;
  background-position-y: 65%;
}
div.app-icon {
  background-image: url("./img/todo_icon.svg");
  background-size: cover;
  width: 40px;
  height: 50px;
}